<section class="books">
  <img class="cover-img" src="{{book.thumbnail}}">
  <div class="book-details">
    <h3 class="main-text">{{book.title}}</h3>
    <h5 class="main-text">{{book.subtitle}}</h5>
    <p class="author">By: {{book.authors}}</p>
    {{!-- Add button will replace below <button> --}}
      <button id="add" data-ID="{{book.id}}">Add to Reading List</button>
    <hr>
    <p>{{book.description}}</p>
    <p>No. of pages: {{book.num_pages}}</p>
    <p>Published in: {{book.published_year}}</p>
    <p>Average Rating: {{book.average_rating}}</p>
    <p>Rated by: {{book.ratings_count}} people</p>
  </div>
</section>

<script src="/js/add.js"></script>