 <article class="card">
  <a href="/books/{{id}}">
      <header class="card-header">
        <p>{{published_year}}</p>
        <h2>{{title}}</h2>
      </header>
<img src="{{thumbnail}}">
      <div class="card-author">
        <div class="author-name">
          <div class="author-name-prefix">{{authors}}</div>
          Epicuro
        </div>
      </div>
  </a>
  <div class="tags">
    <button id="add" data-ID="{{id}}">Add to Reading List</button>
  </div>
 </article>
 
<script src="/js/add.js"></script>